
body {
background: radial-gradient(circle at top, #0f2027, #000);
color: #00ffcc;
font-family: 'Courier New', monospace;
margin: 0;
}

header {
text-align: center;
padding: 30px;
border-bottom: 1px solid #00ffcc;
}

input {
padding: 10px;
width: 50%;
background: black;
color: #00ffcc;
border: 1px solid #00ffcc;
}

button {
background: #001f1f;
border: 1px solid #00ffcc;
color: #00ffcc;
padding: 12px 25px;
margin: 10px;
cursor: pointer;
}

.section {
display: none;
background: rgba(0,0,0,0.7);
padding: 20px;
margin: 10px auto;
width: 70%;
border: 1px solid #00ffcc;
}

.cmd {
animation: typing 1.5s steps(40, end);
white-space: nowrap;
overflow: hidden;
}

@keyframes typing {
from { width: 0; }
to { width: 100%; }
}

.popup {
display: none;
position: fixed;
top: 0; left: 0;
width: 100%; height: 100%;
background: rgba(0,0,0,0.85);
}

.popup-content {
background: #001f1f;
padding: 25px;
margin: 15% auto;
width: 50%;
text-align: center;
border: 1px solid #00ffcc;
}

footer {
text-align: center;
padding: 15px;
border-top: 1px solid #00ffcc;
}
